/*
 * (C) Copyright 2012 David J. W. Li
 * DLPWEBENGINE
 * Forked from Build 0.2.2.432 of Project DLPSIGAME
 *
 */

#mainBody {
	color: #D3D3D3;
	font-family: Verdana;
	font-size: 12px;
	display: block;
	padding: 0;
	line-height: 14px;
	text-align: center;

	background-clip: border-box;
	background: rgb(13, 13, 13) url(../images/Carbon_Fiber.jpg) fixed center center;
	background-origin: padding-box;
	background-size: cover;
}

input, textarea, select, option, button {
	background-color: #171F2F;
	color: #BBB;
}

input, textarea, button {
	padding: 1px 5px;
}

input, textarea, select, button {
	border: 1px solid #444;
}

input.submitButton {
	width: auto !important;
	cursor: pointer;
	margin: 0 auto;
	display: block;
}


footer, .small {
	font-size: 9px;
	font-weight: 700;
	display: block
}

/** Box **/
.pageBox {
	border-radius: 5px;
	background-color: rgba(10,10,20,0.9);
	border: 1px solid #D3D3D3;
	margin: auto;
	padding: 20px;
}
